#button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#button .button{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: #ffffff;
}

.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #053742;
    transition: left 1s;
}
.ball-move{
    left: calc(100% - 40px);
}

.dark main{
    background: black;
}