*{
    padding: 0;
    margin: 0%;
    font-family: 'Outfit', sans-serif;
}


/* QR Code CSS */

main{
    background: linear-gradient( rgb(7,136,16), rgb(53, 101, 50) );  
}

#qrCode{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.box{
    
    background-color:#fff;;
    padding: 18px;
    border-radius: 10px;
}

.imagem{
    width: 100%;
}

.text{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

.text h2{
    font-weight: bold;
}

.text p{
    color: hsl(220, 15%, 55%);
}